@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(170, 90, 91), rgb(84, 3, 125));
    background-size: cover;
}

#formulario {
    background-color: rgba(159, 159, 159, 0.638);
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 20px;
    max-height: 500px;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.342);
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: center;
}

p {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-top: 15px;
    color: rgb(68, 68, 68);
}

h1 {
    text-align: center;
    color: rgb(201, 64, 0);
    
}

input {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    height: 10px;
    background-color: rgba(230, 230, 230, 0.533);
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.342);
    max-width: 250px;
}

.send {
    background-color: rgba(201, 64, 0, 0.842);
    color: rgb(63, 63, 63);
    border-radius: 50px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.342);
}

.erro {
    color: red;
    font-size: .7em;
    margin-top: 5px;
}

.divInput {
    margin: 0px 8px;
}