@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-image: linear-gradient(45deg, rgb(0, 51, 71), rgb(37, 37, 37));
}

body {
    background-image: linear-gradient(45deg, rgb(0, 51, 71), rgb(37, 37, 37));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

main {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
}

.h1 {
    background-color: #ea7900c1;
    color: aliceblue;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.395);
}

.calculadora {
    background-color: #a2a2a24f;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(36, 36, 36, 0.442);
    width: 250px;
}

.display {
    border-radius: 50px;
    border: 0;
    height: 8px;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.475);
    text-align: right;
    padding: 20px;
    font-size: 2em;
    color: white;
}

.input {
    padding-bottom: 10px;
}

td {
    width: 50px;
    height: 48px;
    padding: 3px;
}

.btn {
    box-shadow: 0px 0px 1px rgba(41, 41, 41, 0.371);
    border: 0px;
    padding: 10px;
    background-color: rgba(201, 201, 201, 0.459);
    color: white;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4em;
}

.btn-top {
    background-color: rgba(255, 255, 255, 0.751);
    color: #6d6d6d;
}

.btn-igual {
    width: 100%;
    background-color: rgba(234, 121, 0, 0.755);
}

.btn-side {
    background-color: rgba(234, 121, 0, 0.755);
}

.btn:hover {
    background-color: rgba(201, 201, 201, 0.823);
    color: rgb(109, 109, 109);
}

.btn-side:hover,
.historico:hover {
    background-color: rgb(234, 121, 0);
}

.btn-top:hover {
    background-color: rgb(255, 255, 255);
}

.historico {
    background-color: #ea7900c1;
    width: 140px;
    height: 30px;
    border-radius: 30px;
    border: 0;
    align-self: center;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    font-weight: 900px;
    font-size: 1.1em;
}

.barra {
    background-color: #a2a2a24f;
    min-width: 0px;
    min-height: 320px;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
    transition: .5s;
    margin-left: 10px;
    margin-top: 40px;
    padding: 20px;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.4s ease-out, width .3s, transform .3s ease-out;
}

.barra h1 {
    color: white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}


.barra.show {
    width: 100px;
    opacity: 1;
    transform: translateY(0);
}

.close {
    border-radius: 30px;
    width: 50px;
    height: 30px;
    background-color: rgba(151, 151, 151, 0.588);
    text-align: center;
    border: 0;
    margin: auto;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px;
}

.pH {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}